div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  article{
    margin:30px;
    border: solid blue 5px;
    height: 360px;
    padding-left: 220px;
    padding-right: 220px;
  } 
  article:hover{

  }
  img{
float: right;
margin: 15px;
height: 180px;
width: auto
  }
  h1,span{
float: left;
margin-top: 30px;
margin: 15px;
  }
  h1 {
    color: blue;
    }
    span{
    color:blue;
    }
#home{
float:none;
color:red;
text-align: center;
}
body{
  background-image: "https://www.google.com/url?sa=i&url=https%3A%2F%2Fhdqwalls.com%2Fwallpaper%2F2560x1440%2Fusa-flag&psig=AOvVaw2Qnvi6_nOsbjfsWm4oPtaq&ust=1620266895822000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjfpe-6sfACFQAAAAAdAAAAABAE;"
}